.brush {
  stroke: #666;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.timeslider {
  stroke: #337ab7;
  stroke-width: 3;
  fill: white;
}

.scaleLine {
  stroke: #337ab7;
}

.scaleLabel {
  fill: #337ab7;
  font-size: 0.6em;
}

#timeslider {
  height: 34px;
  border: solid 2px rgb(51, 122, 183);
  border-left: none;
  box-sizing: border-box;
}

.timeslider-container {
  height: 34px;
}

.btn-group.timeslider-btns {
  display: block;
}

.timeslider-btns button.btn {
  border-radius: 0px;
}

.timeslider-svg .scaleLabel {
  font-size: 1em;
}
